asgiref==3.5.2
coverage==6.4.4
Django==4.1
django-countries==7.3.2
flake8==5.0.4
flake8-isort==4.2.0
isort==5.10.1
mccabe==0.7.0
Pillow==9.2.0
pycodestyle==2.9.1
pyflakes==2.5.0
python-dotenv==0.20.0
six==1.16.0
sqlparse==0.4.2
typing_extensions==4.3.0
